.container_signin {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_signin .signin_box,
.container_signin .otp_box {
  width: 420px;
  background: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.signin_box .signin {
  text-align: left;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #552583;
}
.signin_box .desc {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.signin_box .phoneInputField {
  width: 100%;
}
.signin_box
  .phoneInputField
  .react-international-phone-country-selector-button {
  padding: 25px 0px 25px 15px;
}
.signin_box .phoneInputField .react-international-phone-input {
  padding: 25px 10px;
  width: 100%;
  color: black;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  background: transparent;
}
.signin_box .phoneInputField .phoneInput:focus {
  outline: none;
}
.signin_box .signbutton,
.otp_box .signbutton {
  border-radius: 12px;
  background: #552583;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 15px;
  border: none;
  cursor: pointer;
}

.otp_box .otptext {
  color: #552583;
  text-align: left;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.otp_box .desc {
  color: #101920;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.otp_box .code_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}
.otp_box .code_container .code {
  width: 78.54px;
  height: 77.209px;
  flex-shrink: 0;
  background: #ffffff;
  border: 1px solid #d0d3d4;
  border-radius: 5px;
  text-align: center;
  font-size: 26px;
  color: #552583;
}
.otp_box .code_container .code:focus {
  outline: none;
}
.otp_box .resdiv {
  color: #101920;
  cursor: pointer;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration: underline;
  text-align: center;
}
.otp_box .resdiv:disabled {
 cursor: not-allowed;
}

.music_box {
  width: 100%;
  padding-left: 255px;
  position: relative;
}
.music_box .tableContent {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #d0d3d4;
  height: 75vh;
  max-height: 800px;
  overflow-y: scroll;
}
.tableContent thead tr th:first-child {
  width: 40%;
}
.tableContent thead tr th {
  padding-bottom: 15px;
  border-bottom: 1px solid #d0d3d4;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
}
.tableContent thead tr th:first-child {
  text-align: left;
}
.tableContent tbody tr td {
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding: 10px 0px;
}
.tableContent tbody tr td:first-child {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
}
.tableContent tbody tr .clickable {
  cursor: pointer;
}
.AddScreenModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.container {
  position: relative;
  width: 798px;
  min-width: 250px;
  height: 500px;
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.6);
}
.header {
  padding: 16px 24px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.header h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.FormFields {
  padding: 16px 24px;
}
.FormFields label {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}
.FormFields input {
  padding: 4px 12px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.FormFields span {
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}
.uploadBtn {
  border-radius: 2px;
  padding: 5px 16px;
  border: 1px solid #d9d9d9;
  background: #fff;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  cursor: pointer;
}
.previewFile {
  padding: 9px 8px;
  gap: 8px;
  border-radius: 2px;
  border: 1px solid#d9d9d9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.previewFile span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-content: flex-start;
}
.previewFile .previewFileImg {
  width: 48px;
  height: 48px;
}
.previewFile .previewFileName {
  color: #1890ff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}
.actionBtn {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #d9d9d9;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  padding: 16px;
}
.actionBtn .addBtn {
  border-radius: 2px;
  background: #1890ff;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  border: none;
  padding: 5px 16px;
}
.actionBtn .cancelBtn {
  border-radius: 2px;
  background: #fff;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  border: none;
  padding: 5px 16px;
  border: 1px solid #d9d9d9;
}
.headerContainer {
  width: 100%;
  padding: 16px 24px;
  border-bottom: 1px solid #d0d3d4;
}
.menu {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  color: rgba(0, 0, 0, 0.45);
}
.menu span {
  color: #000;
}
.songSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.songSection .songText {
  color: rgba(0, 0, 0, 0.85);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  padding: 10px 0px;
}
.songSection button {
  background: #fdb927;
  border: none;
  padding: 5px 16px;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer;
}
.mediaPlayer {
  width: calc(100% - 255px);
  height: 100px;
  position: fixed;
  bottom: 0;
  z-index: 10;
  left: 255px;
  background-color: #fff;
}
.progressBar {
  width: 100%;
  height: 5px;
  position: relative;
}

.songDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
.songDetails .songName {
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding: 10px 0px;
}
.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
}
.icons svg {
  cursor: pointer;
}
.sidebarContainer {
  width: 255px;
  background: #fff;
  box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 10;
}
.logoText {
  color: #552583;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  padding: 32px 55px;
}
.sidebarPortion {
  padding: 20px 0px;
}
.sideText {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 24px;
  width: 255px;
  height: 40px;
  gap: 10px;
  flex-shrink: 0;
  background: #e6f7ff;
  border-right: 3px solid #1890ff;
}
.logout {
  width: 255px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  gap: 10px;
  position: fixed;
  bottom: 10px;
  left: 0px;
  cursor: pointer;
}
